<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxtech.ui.dao.newexam.TNewexamProcedureMapper" >
  <resultMap id="BaseResultMap" type="java.util.Map" >
    <id column="EXAMID" property="examid" jdbcType="VARCHAR" />
    <id column="PAPERID" property="paperid" jdbcType="VARCHAR" />
    <id column="USERID" property="userid" jdbcType="VARCHAR" />
    <id column="QUESTIONID" property="questionid" jdbcType="VARCHAR" />
    <result column="TYPEID" property="typeid" jdbcType="VARCHAR" />
    <result column="SCORE" property="score" jdbcType="DECIMAL" />
    <result column="CORRIGNDUM" property="corrigndum" jdbcType="VARCHAR" />
    <result column="QUESTIONSOCRE" property="questionsocre" jdbcType="DECIMAL" />
    <result column="PROBLEMSTATE" property="problemstate" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="java.util.Map" extends="BaseResultMap" >
    <result column="ANSWER" property="answer" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    EXAMID, PAPERID, USERID, QUESTIONID, TYPEID, SCORE, CORRIGNDUM, QUESTIONSOCRE, PROBLEMSTATE
  </sql>
  <sql id="Blob_Column_List" >
    ANSWER
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedureKey" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_newexam_procedure
    where EXAMID = #{examid,jdbcType=VARCHAR}
      and PAPERID = #{paperid,jdbcType=VARCHAR}
      and USERID = #{userid,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedureKey" >
    delete from t_newexam_procedure
    where EXAMID = #{examid,jdbcType=VARCHAR}
      and PAPERID = #{paperid,jdbcType=VARCHAR}
      and USERID = #{userid,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedure" >
    insert into t_newexam_procedure (EXAMID, PAPERID, USERID, 
      QUESTIONID, TYPEID, SCORE, 
      CORRIGNDUM, QUESTIONSOCRE, PROBLEMSTATE, 
      ANSWER)
    values (#{examid,jdbcType=VARCHAR}, #{paperid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{questionid,jdbcType=VARCHAR}, #{typeid,jdbcType=VARCHAR}, #{score,jdbcType=DECIMAL}, 
      #{corrigndum,jdbcType=VARCHAR}, #{questionsocre,jdbcType=DECIMAL}, #{problemstate,jdbcType=VARCHAR}, 
      #{answer,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedure" >
    insert into t_newexam_procedure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="examid != null" >
        EXAMID,
      </if>
      <if test="paperid != null" >
        PAPERID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="questionid != null" >
        QUESTIONID,
      </if>
      <if test="typeid != null" >
        TYPEID,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
      <if test="corrigndum != null" >
        CORRIGNDUM,
      </if>
      <if test="questionsocre != null" >
        QUESTIONSOCRE,
      </if>
      <if test="problemstate != null" >
        PROBLEMSTATE,
      </if>
      <if test="answer != null" >
        ANSWER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="examid != null" >
        #{examid,jdbcType=VARCHAR},
      </if>
      <if test="paperid != null" >
        #{paperid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="questionid != null" >
        #{questionid,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=DECIMAL},
      </if>
      <if test="corrigndum != null" >
        #{corrigndum,jdbcType=VARCHAR},
      </if>
      <if test="questionsocre != null" >
        #{questionsocre,jdbcType=DECIMAL},
      </if>
      <if test="problemstate != null" >
        #{problemstate,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        #{answer,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedure" >
    update t_newexam_procedure
    <set >
      <if test="typeid != null" >
        TYPEID = #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=DECIMAL},
      </if>
      <if test="corrigndum != null" >
        CORRIGNDUM = #{corrigndum,jdbcType=VARCHAR},
      </if>
      <if test="questionsocre != null" >
        QUESTIONSOCRE = #{questionsocre,jdbcType=DECIMAL},
      </if>
      <if test="problemstate != null" >
        PROBLEMSTATE = #{problemstate,jdbcType=VARCHAR},
      </if>
      <if test="answer != null" >
        ANSWER = #{answer,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where EXAMID = #{examid,jdbcType=VARCHAR}
      and PAPERID = #{paperid,jdbcType=VARCHAR}
      and USERID = #{userid,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedure" >
    update t_newexam_procedure
    set TYPEID = #{typeid,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DECIMAL},
      CORRIGNDUM = #{corrigndum,jdbcType=VARCHAR},
      QUESTIONSOCRE = #{questionsocre,jdbcType=DECIMAL},
      PROBLEMSTATE = #{problemstate,jdbcType=VARCHAR},
      ANSWER = #{answer,jdbcType=LONGVARCHAR}
    where EXAMID = #{examid,jdbcType=VARCHAR}
      and PAPERID = #{paperid,jdbcType=VARCHAR}
      and USERID = #{userid,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxtech.ui.vo.newexam.TNewexamProcedure" >
    update t_newexam_procedure
    set TYPEID = #{typeid,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=DECIMAL},
      CORRIGNDUM = #{corrigndum,jdbcType=VARCHAR},
      QUESTIONSOCRE = #{questionsocre,jdbcType=DECIMAL},
      PROBLEMSTATE = #{problemstate,jdbcType=VARCHAR}
    where EXAMID = #{examid,jdbcType=VARCHAR}
      and PAPERID = #{paperid,jdbcType=VARCHAR}
      and USERID = #{userid,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=VARCHAR}
  </update>
</mapper>