<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zxtech.ui.dao.newtestpaper.TRandompaperQuestiontypeMapper" >
  <resultMap id="BaseResultMap" type="java.util.Map" >
    <result column="PAPERID" property="paperid" jdbcType="VARCHAR" />
    <result column="TYPEID" property="typeid" jdbcType="VARCHAR" />
    <result column="DISPLAY" property="display" jdbcType="VARCHAR" />
    <result column="CHECKSTATUS" property="checkstatus" jdbcType="VARCHAR" />
    <result column="TOTLEQUESTIONS" property="totlequestions" jdbcType="DOUBLE" />
    <result column="TITLESCORE" property="titlescore" jdbcType="DOUBLE" />
    <result column="CATEGORYIDSTR" property="categoryidstr" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PAPERID, TYPEID, DISPLAY, CHECKSTATUS, TOTLEQUESTIONS, TITLESCORE, CATEGORYIDSTR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    select 
    <include refid="Base_Column_List" />
    from t_randompaper_questiontype
    where PAPERID = #{paperid,jdbcType=VARCHAR}
      and TYPEID = #{typeid,jdbcType=VARCHAR}
  </select>
  <select id="selectRandompaperQuestiontype" resultMap="BaseResultMap" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    select t1.PAPERID,
           t1.TYPEID,
           t1.DISPLAY,
           t1.CHECKSTATUS,
           case when t1.TOTLEQUESTIONS is null then 0 else t1.TOTLEQUESTIONS end as TOTLEQUESTIONS,
           case when t1.TITLESCORE is null then 0 else t1.TITLESCORE end as TITLESCORE,
           t1.CATEGORYIDSTR,
           t2.NAME
    from t_randompaper_questiontype t1
    left join t_questionstype t2
    on t2.STATUS = '0'
    and t1.TYPEID = t2.TYPEID
    where t1.PAPERID = #{paperid,jdbcType=VARCHAR}
    order by t1.TYPEID
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    delete from t_randompaper_questiontype
    where PAPERID = #{paperid,jdbcType=VARCHAR}
      and TYPEID = #{typeid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    insert into t_randompaper_questiontype (PAPERID, TYPEID, DISPLAY, 
      CHECKSTATUS, TOTLEQUESTIONS, TITLESCORE, 
      CATEGORYIDSTR)
    values (#{paperid,jdbcType=VARCHAR}, #{typeid,jdbcType=VARCHAR}, #{display,jdbcType=VARCHAR}, 
      #{checkstatus,jdbcType=VARCHAR}, #{totlequestions,jdbcType=DOUBLE}, #{titlescore,jdbcType=DOUBLE}, 
      #{categoryidstr,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    insert into t_randompaper_questiontype
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="paperid != null" >
        PAPERID,
      </if>
      <if test="typeid != null" >
        TYPEID,
      </if>
      <if test="display != null" >
        DISPLAY,
      </if>
      <if test="checkstatus != null" >
        CHECKSTATUS,
      </if>
      <if test="totlequestions != null" >
        TOTLEQUESTIONS,
      </if>
      <if test="titlescore != null" >
        TITLESCORE,
      </if>
      <if test="categoryidstr != null" >
        CATEGORYIDSTR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="paperid != null" >
        #{paperid,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=VARCHAR},
      </if>
      <if test="display != null" >
        #{display,jdbcType=VARCHAR},
      </if>
      <if test="checkstatus != null" >
        #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="totlequestions != null" >
        #{totlequestions,jdbcType=DOUBLE},
      </if>
      <if test="titlescore != null" >
        #{titlescore,jdbcType=DOUBLE},
      </if>
      <if test="categoryidstr != null" >
        #{categoryidstr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    update t_randompaper_questiontype
    <set >
      <if test="display != null" >
        DISPLAY = #{display,jdbcType=VARCHAR},
      </if>
      <if test="checkstatus != null" >
        CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="totlequestions != null" >
        TOTLEQUESTIONS = #{totlequestions,jdbcType=DOUBLE},
      </if>
      <if test="titlescore != null" >
        TITLESCORE = #{titlescore,jdbcType=DOUBLE},
      </if>
      <if test="categoryidstr != null" >
        CATEGORYIDSTR = #{categoryidstr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PAPERID = #{paperid,jdbcType=VARCHAR}
      and TYPEID = #{typeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    update t_randompaper_questiontype
    set DISPLAY = #{display,jdbcType=VARCHAR},
      CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
      TOTLEQUESTIONS = #{totlequestions,jdbcType=DOUBLE},
      TITLESCORE = #{titlescore,jdbcType=DOUBLE},
      CATEGORYIDSTR = #{categoryidstr,jdbcType=LONGVARCHAR}
    where PAPERID = #{paperid,jdbcType=VARCHAR}
      and TYPEID = #{typeid,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByQuestion" parameterType="com.zxtech.ui.vo.newtestpaper.TRandompaperQuestiontype" >
    update t_randompaper_questiontype
    <set >
        TOTLEQUESTIONS = (select count(0) from t_newtestpaper_question a where a.PAPERID = #{paperid,jdbcType=VARCHAR} and a.TYPEID = #{typeid,jdbcType=VARCHAR}),
        TITLESCORE = (select sum(a.SCORE) from t_newtestpaper_question a where a.PAPERID = #{paperid,jdbcType=VARCHAR} and a.TYPEID = #{typeid,jdbcType=VARCHAR}),
      <if test="display != null" >
        DISPLAY = #{display,jdbcType=VARCHAR},
      </if>
      <if test="checkstatus != null" >
        CHECKSTATUS = #{checkstatus,jdbcType=VARCHAR},
      </if>
      <if test="categoryidstr != null" >
        CATEGORYIDSTR = #{categoryidstr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where PAPERID = #{paperid,jdbcType=VARCHAR}
      and TYPEID = #{typeid,jdbcType=VARCHAR}
  </update>
</mapper>